
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home">JobOn</a>
    </div>
    <ul class="nav navbar-nav" style="display:block">
      <li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span>Home</a></li>
      <li><a href="/code">CodeEditor</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" style="display:block">
      <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up User</a></li>
      <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login User</a></li>
      <li><a href="/signupcmp"><span class="glyphicon glyphicon-user"></span> Sign Up Company</a></li>
      <li><a href="/logincmp"><span class="glyphicon glyphicon-log-in"></span> Login Company</a></li>
    </ul>
  </div>
</nav><br><br><br><br>
<b style="color: white; font-size: xx-large;">
At JobOn, our mission is to help you improve yourself and land your dream job.<br>
 We have a sizable repository of interview resources for many companies. In the past<br>

few years, our users have landed jobs at top companies around the world.
</b><br><br><br>
<b style="color:blanchedalmond ; font-size: xx-large;">For User</b><br>
<button type="button" class="btn btn-success  btn-lg">Login</button>
<br><br>
<br>
<b style="color:blanchedalmond; font-size: xx-large;">For Company</b><br>
<button type="button" class="btn btn-success  btn-lg">Login</button>
